{% extends "admin/base.html" %}

{% block head %}
    {{dashboard_map.js}}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Example of GoogleMaps
                </div>
                <div class="panel-body">
                    {{dashboard_map.html}}
                </div>
            </div>
            <!--
            <div class="panel panel-default">
                <div class="panel-heading">
                    Data formatting
                </div>
                <div class="panel-body">
                    <p>Data can be displayed using just the long/lat point from the nodes. Data will be able to be added to the database using a Restful post similar to the following:</p>
                    <p><strong>POST</strong> https://dt.nathanglover.com/api/v1/addpoint?<strong>device</strong>=device-id-xxxx&<strong>lon</strong>=-31.9538&<strong>lat</strong>=115.8532</p>
                </div>
            </div>
            -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

{% endblock %}